<div>
<div class="text-center">
    <p> Have a sentence/phrase from the decision file? Search here</p>
    <div class="form-group" class="mx-auto" style="width: 400px;">
    <textarea class="form-control" rows="3" placeholder="Enter your text here" (keyup)="onNameKeyUp($event)" (keyup.enter) = "getData()"></textarea></div> <br>
    <button class="btn btn-primary" (click) = "getData()">Search</button>
</div>
<br>
 

<div class="text-center">
  <div class="col-md-12 mx-auto">
    <div class="md-form">
      <input
        type="text"
        [(ngModel)]="searchText"
        class="form-control"
        id="search"
        mdbInput
      />
      <label for="search">Search further here to filter from the Results</label>
    </div>
  </div>
</div>


 <div [hidden]="//@ts-ignore pdffile?.length==0">  
  <p class="text-center">Click on the table headers to sort the results</p>
    <table mdbTable #tableEl="mdbTable" class="z-depth-1" hover="true" class="table table-responsive table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col" [mdbTableSort]="pdffile" sortBy="case_no" style="width: 9%">Summary<i class="fa fa-fw fa-sort"></i></th>
          <th scope="col" [mdbTableSort]="pdffile" sortBy="union" style="width: 8%">Union<i class="fa fa-fw fa-sort"></i></th>
          <th scope="col" [mdbTableSort]="pdffile" sortBy="grievor">Grievor<i class="fa fa-fw fa-sort"></i></th>
          <th scope="col" [mdbTableSort]="pdffile" sortBy="employer" style="width: 12%">Employer<i class="fa fa-fw fa-sort"></i></th>
          <th scope="col" [mdbTableSort]="pdffile" sortBy="date_issued">Date Issued<i class="fa fa-fw fa-sort"></i></th>
          <th scope="col" [mdbTableSort]="pdffile" sortBy="file_name">View Decision<i class="fa fa-fw fa-sort"></i></th>
          <th scope="col" [mdbTableSort]="pdffile" sortBy="judicial_review">View Judicial Review<i class="fa fa-fw fa-sort"></i></th>
          <th scope="col" [mdbTableSort]="pdffile" sortBy="cases_cited" style="width: 10%">Cases Cited<i class="fa fa-fw fa-sort"></i></th>
        </tr>
      </thead>
        <tbody>
        <tr *ngFor="let pdf of pdffile; let i = index">
          <td  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{pdf.case_no}}</td>
          <td  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{pdf.union}}</td>
          <td  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{pdf.grievor}}</td>
          <td  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{pdf.employer}}</td>
          <td  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{pdf.date_issued}}</td>
          <td  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"> <a [href] = " pdf.pdf_path | safe: 'url'" class="text-primary" target="_blank"> {{pdf.file_name}} </a> </td>
          <td  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"> <a [href] = " pdf.jr_path | safe: 'url'" class="text-primary" target="_blank"> {{pdf.judicial_review}} </a> </td>
          <td  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{pdf.cases_cited}}</td>
        </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="10">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="pdffile" ></mdb-table-pagination>
          </td>
        </tr>
        </tfoot>
    </table>
</div>  
  <div [hidden]="//@ts-ignore pdffile?.length!=0" class="mx-auto" style="width: 250px;"> 
      <p class="text-center">Sorry! No results were found. Type a sentence/phrase to begin searching</p>
</div>  
</div>